#container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: max-content;
  margin: 20px auto;
}

.field {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid #999;
}