body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table{

    border-collapse: collapse;
    
}

td{
    width: 150px;
    height: 150px;
    background-color: rgb(28, 88, 135);
    text-align: center;
    font-size: 100px;
    /* font-weight: bold; */
    color: rgb(250, 209, 75);
    border: 3px solid rgb(9, 28, 43);
    box-shadow: 25px 50px 50px rgba(0, 68, 150, 0.4);
    cursor: pointer;
}
